/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .allNews {
    h3 {
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
    }
    p {
      font-size: 15px !important; 
    }
  }
  .show_new {
    h1 {
      font-size: 17px;
      font-weight: bold;
    }
    h2 {
      font-size: 19px;
    }
  }
  .show_container {
    p {
      font-size: 15px !important;
    }
  }
  .admin_button {
    width: 100%;
    margin: 10px 0px 0px 0px !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
