select#category {
  width: 130px;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}

.admin_button{
  margin: 0px 10px 0px 10px;
}

  .comment_button{
    float: right;
    margin-top: 5px;
  }
