.tag_cloud {
  //margin: 5px;
  a {
    @include transition(all 0.3s $ease-in-quad);
    color: $tagsColor;
    font-weight: 200;
    &:hover {
      color: darken($tagsColor, 5%);
      text-decoration: none;
    }   
    &:focus {
      text-decoration: none;
    }
  }
}
.tagSpace {
    text-align: center;
}
#tag_cloud {
  //width: 400px ;
  line-height: 1.6em ;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}